<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %p [%t] [%X{appKey}] [%X{username}@@@%X{clientKey}] [%X{userAgent}] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            -5p %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="tr.com.aliok.meetingroomkiosk.server">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
