<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.com.aliok.meetingroomkiosk.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="tr.com.aliok.meetingroomkiosk.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tr.com.aliok.meetingroomkiosk.android.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm01.experiments.aliok.com.tr.gcmexperiment01" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".OverviewActivity" >
        </activity>

        <!-- launchMode : see http://stackoverflow.com/questions/11372943/issue-in-calling-activity-from-the-intentservice-class -->
        <!-- otherwise GcmIntentService cannot start the activity -->
        <!-- screenOrientation : force landscape -->
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".OverviewActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.com.aliok.meetingroomkiosk.android.OverviewActivity" />
        </activity>
    </application>

</manifest>
