#cal-day-box .cal-day-hour-part {
    height: 30px;
}

#dailyCalendar {
    overflow: scroll;
}

#cal-day-box .day-event {
    max-width: 50%;
    line-height: inherit;
}

#dailyCalendarHeader {
    position: relative;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.75);
}